## Business Understanding

Goal(s):

Predict if the customer will subscribe (yes/no) to a term deposit (variable y)

Success Metric(s):

Hit %81 or above accuracy by evaluating with 5-fold cross validation and reporting the average performance score.

## Data Understanding

In [6]:
## Import libraries / modules
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [16]:
"""
Load data from CSV
"""
def load_data(csv_file_path):
    df = pd.read_csv(csv_file_path)
    return df

"""
Auto EDA of dataset
"""
def auto_eda(df, title):
    profile = ProfileReport(df, title=title)
    profile.to_file(output_file='report.html')

In [17]:
df = load_data("term-deposit-marketing-2020.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,no

In [18]:
auto_eda(df, "Term Deposit Marketing Report")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]