## Business Understanding

Goal(s):

Predict if the customer will subscribe (yes/no) to a term deposit (variable y)

Success Metric(s):

Hit %81 or above accuracy by evaluating with 5-fold cross validation and reporting the average performance score.

## Data Understanding

In [126]:
## Import libraries / modules
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
from sklearn.preprocessing import MinMaxScaler

In [158]:
"""
Load data from CSV
"""
def load_data(csv_file_path):
    df = pd.read_csv(csv_file_path)
    return df

"""
Auto EDA of dataset
"""
def auto_eda(df, title):
    profile = ProfileReport(df, title=title)
    profile.to_file(output_file='../reports/report.html')
    
"""
Change column names
"""
def change_column_name(df, col_index_label):
    column_names = df.columns.tolist()
    for key, value in col_index_label.items():
        df = df.rename(columns={column_names[key]: value})
    return df
    
"""
drop unnecessary columns
"""
def drop_columns_by_index(df, indices):
    df = df.drop(df.columns[indices], axis=1)
    return df

"""
drop rows
"""
def drop_rows(df, indices):
    df = df.drop(indices, axis=0)
    return df

"""
drop duplicate row ignoring numeric columns
"""
def drop_duplicate_rows(df, subset_col_names):
    duplicated_rows = df.duplicated(subset=subset_col_names, keep='first')
    row_numbers = np.where(duplicated_rows)[0]
    df = drop_rows(df, row_numbers)
    print(pd.DataFrame(row_numbers))
    return df
    
"""
Scale numeric columns
"""
def scale_numeric_data(df, col_indices):
    scaler = MinMaxScaler()
    df.iloc[:, col_indices] = scaler.fit_transform(df.iloc[:, col_indices])
    return df

"""
Encode categorical columns
"""
def encode_cat_columns(df, col_names):
    df_encoded = pd.get_dummies(df, columns = col_names)
    return df_encoded

"""
Return columns
"""
def get_col_names(df):
    return df.columns

"""
Return column indices by name
"""
def get_col_indices(df, col_names):
    column_indices = [df.columns.get_loc(col) for col in col_names]
    return column_indices

In [167]:
df = load_data("../data/raw/term-deposit-marketing-2020.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,53,technician,married,tertiary,no,395,no,no,cellular,3,jun,107,1,no
39996,30,management,single,tertiary,no,3340,no,no,cellular,3,jun,238,3,yes
39997,54,admin,divorced,secondary,no,200,no,no,cellular,3,jun,170,1,yes
39998,34,management,married,tertiary,no,1047,no,no,cellular,3,jun,342,1,no
39999,38,technician,married,secondary,no,1442,yes,no,cellular,3,jun,113,1,no

In [144]:
df2 = change_column_name(df, {4: 'has_credit_default', 6: 'has_housing_loan', 7: 'has_personal_loan', 
                                             8: 'contact_mode', 12: 'num_of_contacts'})
df2.head()

,age,job,marital,education,has_credit_default,balance,has_housing_loan,has_personal_loan,contact_mode,day,month,duration,num_of_contacts,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,no

### AutoEDA Report generation

In [4]:
auto_eda(df, "Term Deposit Marketing Report")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Data cleaning

In [145]:
## Drop day and month column as they do not affect target variable
df_ = drop_columns_by_index(df2, [9,10])
df_

,age,job,marital,education,has_credit_default,balance,has_housing_loan,has_personal_loan,contact_mode,duration,num_of_contacts,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,261,1,no
1,44,technician,single,secondary,no,29,yes,no,unknown,151,1,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,76,1,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,92,1,no
4,33,unknown,single,unknown,no,1,no,no,unknown,198,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,53,technician,married,tertiary,no,395,no,no,cellular,107,1,no
39996,30,management,single,tertiary,no,3340,no,no,cellular,238,3,yes
39997,54,admin,divorced,secondary,no,200,no,no,cellular,170,1,yes
39998,34,management,married,tertiary,no,1047,no,no,cellular,342,1,no
39999,38,technician,married,secondary,no,1442,yes,no,cellular,113,1,no

In [148]:
## Remove duplicates

## Find indices of duplicate rows while ignoring numeric column and then drop the duplicate rows from dataframe
subset_cols = ['job', 'marital', 'education', 'has_credit_default', 'has_housing_loan', 'has_personal_loan', 
               'contact_mode', 'y']
df_cleaned = drop_duplicate_rows(df_, subset_cols)
df_cleaned

           0
0          5
1          9
2         15
3         18
4         19
...      ...
38024  39995
38025  39996
38026  39997
38027  39998
38028  39999

[38029 rows x 1 columns]

,age,job,marital,education,has_credit_default,balance,has_housing_loan,has_personal_loan,contact_mode,duration,num_of_contacts,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,261,1,no
1,44,technician,single,secondary,no,29,yes,no,unknown,151,1,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,76,1,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,92,1,no
4,33,unknown,single,unknown,no,1,no,no,unknown,198,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...
39347,24,services,single,secondary,yes,-1414,yes,yes,cellular,171,2,no
39633,56,services,divorced,primary,no,23,no,no,telephone,108,4,no
39674,58,retired,married,primary,yes,-235,no,yes,telephone,93,2,no
39690,54,self-employed,single,tertiary,no,384,no,yes,cellular,200,1,yes
39886,57,technician,married,primary,no,3376,yes,no,telephone,421,2,yes

### Feature Scaling

In [149]:
## Normalize numeric columns
df_scaled = scale_numeric_data(df_cleaned, [0, 5, 9, 10])
df_scaled

,age,job,marital,education,has_credit_default,balance,has_housing_loan,has_personal_loan,contact_mode,duration,num_of_contacts,y
0,0.661017,management,married,tertiary,no,0.188857,yes,no,unknown,0.066529,0.000000,no
1,0.423729,technician,single,secondary,no,0.149569,yes,no,unknown,0.038164,0.000000,no
2,0.237288,entrepreneur,married,secondary,no,0.149067,yes,yes,unknown,0.018824,0.000000,no
3,0.474576,blue-collar,married,unknown,no,0.177018,yes,no,unknown,0.022950,0.000000,no
4,0.237288,unknown,single,unknown,no,0.149048,no,no,unknown,0.050284,0.000000,no
...,...,...,...,...,...,...,...,...,...,...,...,...
39347,0.084746,services,single,secondary,yes,0.122751,yes,yes,cellular,0.043321,0.023810,no
39633,0.627119,services,divorced,primary,no,0.149457,no,no,telephone,0.027076,0.071429,no
39674,0.661017,retired,married,primary,yes,0.144663,no,yes,telephone,0.023208,0.023810,no
39690,0.593220,self-employed,single,tertiary,no,0.156166,no,yes,cellular,0.050799,0.000000,yes
39886,0.644068,technician,married,primary,no,0.211771,yes,no,telephone,0.107788,0.023810,yes

In [150]:
df_scaled.job.unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar', 'unknown', 'retired', 'admin',
       'services', 'self-employed', 'unemployed', 'housemaid', 'student'], dtype=object)

#### One-hot encoding categorical columns

In [151]:
col_names = ['job', 'marital', 'education', 'has_credit_default', 'has_housing_loan', 'has_personal_loan', 'contact_mode', 'y']
df_encoded = encode_cat_columns(df_scaled, col_names)
df_encoded

,age,balance,duration,num_of_contacts,job_admin,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,...,has_credit_default_yes,has_housing_loan_no,has_housing_loan_yes,has_personal_loan_no,has_personal_loan_yes,contact_mode_cellular,contact_mode_telephone,contact_mode_unknown,y_no,y_yes
0,0.661017,0.188857,0.066529,0.000000,0,0,0,0,1,0,...,0,0,1,1,0,0,0,1,1,0
1,0.423729,0.149569,0.038164,0.000000,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,1,0
2,0.237288,0.149067,0.018824,0.000000,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,1,0
3,0.474576,0.177018,0.022950,0.000000,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,1,0
4,0.237288,0.149048,0.050284,0.000000,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39347,0.084746,0.122751,0.043321,0.023810,0,0,0,0,0,0,...,1,0,1,0,1,1,0,0,1,0
39633,0.627119,0.149457,0.027076,0.071429,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
39674,0.661017,0.144663,0.023208,0.023810,0,0,0,0,0,1,...,1,1,0,0,1,0,1,0,1,0
39690,0.593220,0.156166,0.050799,0.000000,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,0,1
39886,0.644068,0.211771,0.107788,0.023810,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1

In [159]:
## Drop column with binary classes
columns = get_col_names(df_encoded)
print(columns)
#df_dropped_binary = drop_columns_by_name(df_encoded,  ['y_no', 'has_personal_loan_no', 'has_housing_loan_no', 'has_credit_default_no'])

Index(['age', 'balance', 'duration', 'num_of_contacts', 'job_admin',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'has_credit_default_no', 'has_credit_default_yes',
       'has_housing_loan_no', 'has_housing_loan_yes', 'has_personal_loan_no',
       'has_personal_loan_yes', 'contact_mode_cellular',
       'contact_mode_telephone', 'contact_mode_unknown', 'y_no', 'y_yes'],
      dtype='object')

In [161]:
binary_cols = ['y_no', 'has_personal_loan_no', 'has_housing_loan_no', 'has_credit_default_no']
col_indices = get_col_indices(df_encoded, binary_cols)
col_indices

[32, 27, 25, 23]

In [162]:
df_binary_dropped = drop_columns_by_index(df_encoded, col_indices)
df_binary_dropped

,age,balance,duration,num_of_contacts,job_admin,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,...,education_secondary,education_tertiary,education_unknown,has_credit_default_yes,has_housing_loan_yes,has_personal_loan_yes,contact_mode_cellular,contact_mode_telephone,contact_mode_unknown,y_yes
0,0.661017,0.188857,0.066529,0.000000,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0
1,0.423729,0.149569,0.038164,0.000000,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
2,0.237288,0.149067,0.018824,0.000000,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,1,0
3,0.474576,0.177018,0.022950,0.000000,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
4,0.237288,0.149048,0.050284,0.000000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39347,0.084746,0.122751,0.043321,0.023810,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0,0
39633,0.627119,0.149457,0.027076,0.071429,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
39674,0.661017,0.144663,0.023208,0.023810,0,0,0,0,0,1,...,0,0,0,1,0,1,0,1,0,0
39690,0.593220,0.156166,0.050799,0.000000,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
39886,0.644068,0.211771,0.107788,0.023810,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1

In [163]:
cols_after_clean = get_col_names(df_binary_dropped)
cols_after_clean

Index(['age', 'balance', 'duration', 'num_of_contacts', 'job_admin',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'has_credit_default_yes', 'has_housing_loan_yes',
       'has_personal_loan_yes', 'contact_mode_cellular',
       'contact_mode_telephone', 'contact_mode_unknown', 'y_yes'],
      dtype='object')

### Dimensionality reduction - PCA